.join-page {
  overflow: hidden;
}
.join-page .join-form-container {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}
.join-page .join-form-container .join-form {
  background: #ffffff;
  padding: 10vh 25px;
  border-radius: 25px;
}
.join-page .join-form-container .join-form h1 {
  margin-top: -10px;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -1px;
  border-bottom: 1px dashed rgba(117, 117, 117, 0.1);
}
@media (max-width: 768px) {
  .join-page .join-form-container .join-form {
    width: 75%;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .join-page .join-form-container .join-form {
    width: 40%;
  }
}
@media (min-width: 1201px) {
  .join-page .join-form-container .join-form {
    width: 30%;
  }
}
.join-page .join-form-container .join-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.join-page .join-form-container .join-form form label {
  font-weight: 600;
  padding: 15px 15px 0px 0px;
}
.join-page .join-form-container .join-form form input[type=text] {
  background: rgba(138, 141, 145, 0.15);
}
.join-page .join-form-container .join-form form button {
  background: #1778f2;
  margin-top: 35px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: 1px 1px #8a8d91;
  letter-spacing: 1px;
  font-size: 1.1em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.join-page .join-form-container .join-form form button:hover {
  background: #125bb4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.join-page .join-form-container .join-form form input[type=text], .join-page .join-form-container .join-form form button {
  -webkit-box-shadow: 2px 4px 15px -11px #8a8d91;
          box-shadow: 2px 4px 15px -11px #8a8d91;
  border-radius: 50px;
  outline: none;
  border: none;
  padding: 10px;
}

.join-page::before {
  z-index: -1;
  content: "";
  position: absolute;
  overflow: hidden;
  width: 120vw;
  height: 120vh;
  top: -10vh;
  left: -10vw;
  background-image: linear-gradient(135deg, #0f2550 -10%, #1778f2 45%, #1778f2 55%, #0f2550 110%);
  -webkit-animation: background infinite 12s linear;
          animation: background infinite 12s linear;
}

@-webkit-keyframes background {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  25% {
    -webkit-transform: translate(-10vw, -10vh);
            transform: translate(-10vw, -10vh);
  }
  50% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  75% {
    -webkit-transform: translate(10vw, 10vh);
            transform: translate(10vw, 10vh);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes background {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  25% {
    -webkit-transform: translate(-10vw, -10vh);
            transform: translate(-10vw, -10vh);
  }
  50% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  75% {
    -webkit-transform: translate(10vw, 10vh);
            transform: translate(10vw, 10vh);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}/*# sourceMappingURL=join-page.css.map */